.gameCanvas {
    border: 3px solid;
    position: relative;
    left: 35%;

}

.scoreText {
   position: relative;
   left: 50%;
    
}

.resetBtn {
    cursor: pointer;
    position: relative;
    left: 50%;
}
