*{
    background-color: white;
}

.title{
    text-align: center;
}
/* .gameContainer {

} */
.gameCanvas {
    border: 3px solid white;

}

.scoreText {
 text-align: center;
 color: black; 
 font-size: 50px;

}

p {
   font-size: 30px;

/* .resetBtn {
}
    */

